.showprofile-container{
    min-width: 348px;
    flex:1;
    display: flex;
    flex-direction: column;
}
.profile-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding:5px 10px;
    background-color: #ededed;

}
.profile-header p{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon:hover{
    font-size:25px;
}
.profile-image{
    flex:1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #ece5dd;
}
.img{
    background-color: orangered;
    height:65%;
    width: 45%;
    margin-top: 10px;
    display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: center;
  text-align: center;
  border-radius: 50%;
  margin-left:250px ;
}
.img img{
    background: white;
    height:100%;
    width: 100%;
    border-radius: 50%;
}
.Options{
    flex-direction: column;
    width:50% ;
    background-color:white;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    gap: 10px;
    cursor: pointer;
}
.name{
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.report,.block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.otheropt{
    font-weight: 500;
    color: red;
    background: white;
}

@media screen and (max-width:900px){
    .img{
        
        background-color: orangered;
        height:40%;
        width: 60%;
        margin-top:90px;
        display: flex;
         flex-direction: column;
         align-items: center;
        justify-content: center;
      text-align: center;
      border-radius: 50%;
      margin-left:90px ;
    }
    .img img{
        background: white;
        height:100%;
        width: 100%;
        border-radius: 50%;
    }
    .Options{
        flex-direction: column;
        width:50% ;
        background-color:white;
        border-radius: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left:105px;
        margin-top:30px;
        gap: 5px;
        cursor: pointer;
    }
}