.user-profile{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    color: black;
}
.user-profile:hover{
    background: lightgoldenrodyellow;
}
.user-profile-img{
    width: 45px;
}
.user-profile-img img{
width: 100%;
border-radius: 50%;
background: darkgray;
}
.user-info{
    flex:1;
    text-align: left;
    margin-left: 10px;
}
.last-msg{
    display:flex ;
    gap:5px;
    justify-content: space-between;
    color: grey;
}

.user-name-sidebar{
    font-weight:700 ;
}